.taskListContainer {
    border: solid 1px black;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.headerTask {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}
.bodyTask {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
